@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	width: 1140px;
	margin: 0 auto;
}
header{
	width: 1140px;
	float: left;
}
.logo{
	width: 450px;
	height: 200px;
	margin: 0 15px;
	float: left;
	background-color:white;
}
.slogan{
	width: 630px;
	height: 100px;
	margin: 0 15px;
	float: left;
	background-color: white;
}
.nav{
	width: 1110px;
	height: 30px;
	margin: 5px 15px 5px 15px;
	background-color:#C9F;
	
}
.clear{
	clear: both;
}
.slider{
	width: 1110px;
	height: 150px;
	margin: 5px 15px;
	background-color: cadetblue;
}
.container{
	width: 1110px;
	height: 520px;
	margin: 10px;
	background-color: brown;
	float: left;
}
sidebar{
	width: 255px;
	height: 100px;
	margin: 5px 10px 5px 5px;
	float: left;
	background-color:navajowhite;
}
.cont{
	width: 825px;
	height: 500px;
	margin: 5px 0px 0px 5px;
	background-color: blueviolet;
	float: left;
}
.item{
	width: 255px;
	height: 220px;
	margin: 5px 10px 20px 10px;
	background-color:navajowhite;
	float: left;
}
footer{
	width: 1110px;
	height: 60px;
	margin:10px 15px 20px 15px;
	background-color:navajowhite;
	float: left;
}
nav> a{
    padding: 30px;
}